html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-bg: #f3f3f3;
  --clr-btn-bg: #f7f7f7;
  --clr-btn-hover: #e0e0e0;
  --clr-num-bg: #fcfcfc;
  --clr-num-hover: #ececec;
  --clr-equal: #91c1e7;
  --clr-equal-hover: #74abd8;
}
body {
  background-color: #0e0e0e;
}
button {
  font-family: sans-serif;
}

.hero_container_main {
  background-color: var(--clr-bg);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 344px;
  height: 489px;
}
.cal_inner_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cal_fun_div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 83px repeat(3, 39px);
}
.cal_screen {
  position: relative;
  width: 95%;
  height: 100%;
  border: 0;
  background: none;
  outline: 0;
  font-size: 3.3rem;
  text-align: right;
  caret-color: transparent;
  overflow: hidden;
  word-break: break-all;
  line-height: 1.2;
}

.btn_fun {
  border: 0;
  outline: none;
  background: none;
}

.hero_degree {
  height: 100%;
  width: 100%;
  display: flex;
  justify-items: flex-end;
  align-items: center;
}

.btn_deg {
  width: 50px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 550;
  font-size: 1.21rem;
}
.hero_mc_mr_fun {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.btn_mc {
  justify-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}
.btn_mc:hover,
.btn_deg:hover {
  background-color: var(--clr-num-hover);
}

/* targeting first two children */
.btn_mc:nth-child(-n + 2) {
  color: #999292;
  font-weight: 100 !important;
}
.hero_trigonmetry {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  justify-items: center;
  padding: 10px;
  justify-items: center;
  justify-content: start;
  align-content: center;
}

.icon {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
.dropdown .btn {
  font-size: 1.3rem;
}
.dropdown .btn:focus {
  outline: none;
  box-shadow: none;
}
.dropdown-menu {
  transform: translate3d(25px, 26px, 0px) !important;
}
.dropdown-menu li button {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-size: 1.35rem;
}
.dropdown-menu li {
  border-bottom: 0.5px solid var(--clr-bg);
}
.dropdown-menu li:last-child {
  border-bottom: none;
}

/* ----- key section start -------- */
.cal_keys_div {
  height: 289px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 3.5px;
}
button {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 1.3rem;
  border: 0.5px solid #f1efef;
}

.btn_num {
  background-color: var(--clr-num-bg);
  font-weight: 700;
  font-size: 1.8rem !important;
}
.btn_num:hover {
  background-color: var(--clr-num-hover);
}

.basic_fun{
  font-size: 1.8rem;
}


.clr_remain_btn {
  background-color: var(--clr-btn-bg);
}
.clr_remain_btn i {
  color: #585857;
}
.clr_remain_btn:hover {
  background-color: var(--clr-btn-hover);
}
.clr_equal {
  background-color: var(--clr-equal);
}
.clr_equal:hover {
  background-color: var(--clr-equal-hover);
}

/* ------ key section start end ---------- */
